In [57]:
# dependencies
import pandas as pd 
import gmaps
import gmaps.datasets 
from config1 import g_key

In [34]:
# store cities csv into a dataframe
weatherpy_vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
weatherpy_vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Rainfall,Snowfall,Hotel Name
0,2,Vaini,TO,77.00,-21.20,-175.20,light intensity shower rain,0.0,0,Keleti Beach Resort
1,7,Nizhniy Kuranakh,RU,88.61,58.84,125.49,broken clouds,0.0,0,Park Pobedy
2,10,Cockburn Town,TC,83.23,21.46,-71.14,clear sky,0.0,0,Osprey Beach Hotel
3,13,Mayo,US,82.40,38.89,-76.51,few clouds,0.0,0,Resorts Resource Group International
4,17,Tiarei,PF,80.60,-17.53,-149.33,broken clouds,0.0,0,Le Rocher de Tahiti

In [38]:
# Set index
weatherpy_vacation_df = weatherpy_vacation_df.set_index("City")

In [116]:
# Create dataframes for 4 selected cities
ocean_city_df = pd.DataFrame({"Ocean City":(weatherpy_vacation_df.loc["Ocean City"])})
brigantine_df = pd.DataFrame({"Brigantine":(weatherpy_vacation_df.loc["Brigantine"])})
mayo_df = pd.DataFrame({"Mayo":(weatherpy_vacation_df.loc['Mayo'])})
bethel_df = pd.DataFrame({"Bethel":(weatherpy_vacation_df.loc["Bethel"])})
mayo_df

                                                     Mayo
City_ID                                                13
Country                                                US
Max Temp                                             82.4
Lat                                                 38.89
Lng                                                -76.51
Weather Description                            few clouds
Rainfall                                                0
Snowfall                                                0
Hotel Name           Resorts Resource Group International

In [121]:
# Get only lat/lng values
ocean_city_lat = (ocean_city_df.to_numpy()[3][0]).astype(float)
ocean_city_lng = (ocean_city_df.to_numpy()[4][0]).astype(float)
brigantine_lat = (brigantine_df.to_numpy()[3][0]).astype(float)
brigantine_lng = (brigantine_df.to_numpy()[4][0]).astype(float)
bethel_lat = (bethel_df.to_numpy()[3][0]).astype(float)
bethel_lng = (bethel_df.to_numpy()[4][0]).astype(float)
mayo_lat = (mayo_df.to_numpy()[3][0]).astype(float)
mayo_lng = (mayo_df.to_numpy()[4][0]).astype(float)

In [101]:
# Configure gmaps
gmaps.configure(g_key)

In [160]:
# Lat/lng paired variables
ocean_city = (ocean_city_lat, ocean_city_lng)
brigantine = (brigantine_lat, brigantine_lng)
mayo = (mayo_lat, mayo_lng)
bethel = (bethel_lat, bethel_lng)
ocean_city

(39.28, -74.57)

In [209]:
# Create map with paired variables for four cities
locations = merged_df[["Lat","Lng"]]
max_temp = merged_df["Max Temp"]
fig = gmaps.figure()
mayo2bethel_via_ocean_city_via_brigantine = gmaps.directions_layer(
    mayo, bethel, waypoints=[ocean_city, brigantine],
    travel_mode="DRIVING")
marker_layer = gmaps.marker_layer(locations,info_box_content=merged_info)
fig.add_layer(mayo2bethel_via_ocean_city_via_brigantine)
fig.add_layer(marker_layer)
fig

TypeError: marker_layer() missing 1 required positional argument: 'locations'

In [187]:
merged_cities_df = pd.concat([ocean_city_df, brigantine_df, mayo_df, bethel_df], axis=1)
merged_df = (merged_cities_df.transpose()).reset_index()
merged_df

,index,City_ID,Country,Max Temp,Lat,Lng,Weather Description,Rainfall,Snowfall,Hotel Name
0,Ocean City,418,US,78.8,39.28,-74.57,clear sky,0,0,Biscayne Suites
1,Brigantine,192,US,78.8,39.41,-74.36,clear sky,0,0,Legacy Vacation Resort Brigantine Beach
2,Mayo,13,US,82.4,38.89,-76.51,few clouds,0,0,Resorts Resource Group International
3,Bethel,43,US,78.01,41.37,-73.41,scattered clouds,0,0,Courtyard by Marriott Danbury

In [206]:
info_box_template = """
<dl>
<dt>Hotel Name:</dt><dd>{Hotel Name}</dd>
<dt>City:</dt><dd>{index}</dd>
<dt>Country:</dt><dd>{Country}</dd>
<dt>Weather Description:</dt/<dd>{Weather Description}</dd>
<dt>Max Temp:</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [144]:
locations = (merged_df[["Lat", "Lng"]]).astype(float)

In [207]:
# Store dataframe row
merged_info = [info_box_template.format(**row) for index, row in merged_df.iterrows()]