In [1]:
# import dependencies
import pandas as pd 
import gmaps 
import requests 
#import api key
from config1 import g_key

In [2]:
# store cities csv into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sorong,ID,2020-07-11 23:11:34,-0.88,131.25,78.66,83,100,7.65
1,1,East London,ZA,2020-07-11 23:11:35,-33.02,27.91,56.62,55,62,18.07
2,2,Narsaq,GL,2020-07-11 23:11:36,60.92,-46.05,55.40,76,25,4.70
3,3,Pergamino,AR,2020-07-11 23:10:23,-33.89,-60.57,50.00,41,71,5.01
4,4,Castro,BR,2020-07-11 23:11:38,-24.79,-50.01,59.32,81,0,6.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. # Add geographic center of earth and zoom level to display one map of earth
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity data
humidity = city_data_df["Humidity"]
# Assign the figure variable. # Add geographic center of earth and zoom level to display one map of earth
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the humidity variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness data
clouds = city_data_df["Cloudiness"]
# Assign the figure variable. # Add geographic center of earth and zoom level to display one map of earth
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the humidity variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed data
wind = city_data_df["Wind Speed"]
# Assign the figure variable. # Add geographic center of earth and zoom level to display one map of earth
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the wind speed variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sorong,ID,2020-07-11 23:11:34,-0.88,131.25,78.66,83,100,7.65
6,6,Victoria,HK,2020-07-11 23:08:17,22.29,114.16,86.00,70,74,8.99
9,9,Qui Nhon,VN,2020-07-11 23:11:42,13.77,109.23,80.29,77,100,3.44
14,14,Calabozo,VE,2020-07-11 23:11:47,8.92,-67.43,77.29,88,55,2.64
15,15,Sao Miguel Do Araguaia,BR,2020-07-11 23:11:48,-13.28,-50.16,76.21,50,26,3.91
16,16,Faanui,PF,2020-07-11 23:11:49,-16.48,-151.75,78.21,76,20,17.92
17,17,Shenjiamen,CN,2020-07-11 23:11:50,29.96,122.30,78.37,90,92,24.67
21,21,Chitrakonda,IN,2020-07-11 23:11:54,18.12,82.08,75.43,84,100,1.14
28,28,Praia,CV,2020-07-11 23:12:02,14.92,-23.51,77.00,73,75,13.87
32,32,Mancio Lima,BR,2020-07-11 23:12:08,-7.61,-72.90,84.20,62,20,2.24

In [27]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [29]:
# Create DF called hotel_df to store hotel names with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp    Lat     Lng Hotel Name
0                   Sorong      ID     78.66  -0.88  131.25
6                 Victoria      HK     86.00  22.29  114.16
9                 Qui Nhon      VN     80.29  13.77  109.23
14                Calabozo      VE     77.29   8.92  -67.43
15  Sao Miguel Do Araguaia      BR     76.21 -13.28  -50.16
16                  Faanui      PF     78.21 -16.48 -151.75
17              Shenjiamen      CN     78.37  29.96  122.30
21             Chitrakonda      IN     75.43  18.12   82.08
28                   Praia      CV     77.00  14.92  -23.51
32             Mancio Lima      BR     84.20  -7.61  -72.90

In [30]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the Dataframe
for index, row in hotel_df.iterrows():
    # Get lat and lng
    lat = row["Lat"]
    lng = row["Lng"]

    # Add lat and lng to location key for params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sorong,ID,78.66,-0.88,131.25,The Waigo Hotel
6,Victoria,HK,86.00,22.29,114.16,Mini Hotel Central
9,Qui Nhon,VN,80.29,13.77,109.23,Khách sạn Hải Âu Quy Nhơn - Seagull Hotel
14,Calabozo,VE,77.29,8.92,-67.43,Hotel Giardini
15,Sao Miguel Do Araguaia,BR,76.21,-13.28,-50.16,Hotel Executivo Palace
16,Faanui,PF,78.21,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
17,Shenjiamen,CN,78.37,29.96,122.30,Jinjiang Inn Zhoushan Putuo Shenjiamen
21,Chitrakonda,IN,75.43,18.12,82.08,Government girls hostel
28,Praia,CV,77.00,14.92,-23.51,LT Aparthotel
32,Mancio Lima,BR,84.20,-7.61,-72.90,Hotel e Distribuidora Voyage

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]